/*Generic Section*/

body{
  /* background-image: url(./night-sky.jpg); */
  background-color: rgb(40, 28, 73);
  font-family: 'Droid Sans'
} 
h2{
  font-family: 'Droid Serif'
}
h3{
  font-family: 'Droid Serif';
}
.title{
  font-family: 'Droid Serif';
}
.App {
  text-align: center;
  /* background-color: rgb(9, 2, 14); */
  /* background-image: linear-gradient(black,rgb(4, 4, 83)); */
  /* background-image: url(./night-sky.jpg); */
  height:100%;
  width:100%;
  position:absolute;
  color:white;
  
}

/*About Me */

#my-abstract{
  width:75%;
  margin-left:3em;
  margin-right:2em;
  margin-top:5%;
  font-size: 110%;
  text-align: left;
  
}
@media only screen and (min-width: 670px){
  /*PC*/
  .Me{
    display: flex;
  }
  
}
@media only screen and (max-width:670px)
{
  /*Phones*/
  .NameandPic{
    margin-left:2em;
    margin-right: 2em;
  }
  #about-me-title{
    visibility: hidden;
  }
  #my-name{
    font-size:2em
  }
  #my-abstract{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:1em;
  }
  #me-about-me{
    margin-top:0;
    
  }
}
.my-image {
  height: 50vmin;
  pointer-events: none;
  border-radius: 5px;
}
#my-name{
  margin-top:5%;
}

  .NameandPic{
    margin-left:10%;
    margin-top:5%;
  }
/*.App-header {
  background-color: #282c34; 
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/
.App-link {
  color: #61dafb;
}
.Mynavbar{
  background-color: rgb(93, 105, 209);
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
  min-width: 50%;
  width:auto;
}
.Header{
  font-family: Roboto;
  width:auto;
  margin-right:0;
  margin-left:0;
  padding:0;
  
}
.navlink{
  padding-left:4%;
  padding-right:4%;
  text-decoration: none;
  color:white;
  height:80%;

}
.navlink:hover{
  background-color: steelblue;
  border-radius: 10px;
  text-decoration: none;
}
.Me{
  background-color: rgb(38, 84, 145);
  width: 80%;
  margin-left:auto;
  margin-right: auto;
  margin-top:5%;
  border-radius: 10px;
  margin-bottom:1em;
  padding-top:1em;
  padding-bottom: 1em;

}

.LinkedinLogo{
  padding-left:2%;
  padding-right:2%;
  padding-bottom: 2%;
  width: 7em;
  height: 3em;
  margin-top:1%;
}
.GitLogo{
  padding-left:2%;
  padding-right:2%;
  padding-bottom: 2%;
  margin-top:1%;
  width: 7em;
  height: 3em;
}
.SocialMedia{
  padding:1%;
}


/*Education*/

#Education{
  background-color: rgb(38, 84, 145);
  display: grid;
  width: 80%;
  margin-left:auto;
  margin-right: auto;
  margin-top:5%;
  border-radius: 10px;
  /* margin-bottom: 2%; */
  padding-bottom: 2%;
}

#Education #edu-title{
  margin-left:auto;
  margin-right: auto;
  margin-top:1em;
}
.EducacionHr{
  width:90%;
  margin-top:0.5em;
  margin-bottom: 0.5em;
  border-width: 0.1px;
  color:darkgrey;
}
.PicAndImage{
  display: flex;
  width: 80%;
  margin:auto;
  padding:1em;
} 
.left-pic-pic-image{
  width: 30%;
  height:80%;
  margin-left:auto;
  margin-right:auto;
  border-radius: 4px;
  padding-right: 3%;
  
}
.right-pic-pic-image{
  
    width: 30%;
    height:90%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 4px;
    padding-left: 3%;
}
.eduSection{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  
  
}
.eduTitle{
  vertical-align: top;
  margin-top:0px;
}
.eduDesc{
  text-align: left;
  padding:1em;
}

/*Portfolio*/

.favProjImg{
  width:30%;
  height:10%;
}
.carousel-caption{
  position:relative;
  left:0;
  top:0;
}
#p-title{

  
  margin-top:1em;
  padding-top: 1em;
  margin-bottom:1em;
  
}
#fav-proj-title{
  margin-bottom:1em;
}
.Portfolio{
  background-color: rgb(38, 84, 145);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.title{
  margin:1%;
  padding:1%;
}
.P-Card{
  color:black;
}
@media only screen and (min-width: 771px){
  .P-twoBlock{
    display:flex;
    margin:auto;
    justify-content: center;
    flex-wrap:wrap;
  }
  .P-Card{
    width:33%;
    margin: 3%;
  }
}
@media only screen and (max-width:771px)
{
  .P-Card{
    margin:auto;
    width:55%;
  }
}

.CardButton{
  width:60%;
}