
.App {
  text-align: center;
  background-color: rgb(9, 2, 14);
  background-image: linear-gradient(black,rgb(4, 4, 83));
  height:100%;
  width:100%;
  position:absolute;
  color:white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 5px;
}


  .NameandPic{
    margin-left:10%;
    margin-top:5%;
  }
/*.App-header {
  background-color: #282c34; 
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/
.App-link {
  color: #61dafb;
}
.navbar{
  background-color: rgb(93, 105, 209);
  align-items: center;
  padding: 1%;
  min-width: 50%;
}
.navlink{
  padding-left:4%;
  padding-right:4%;
  text-decoration: none;
  color:white;
  height:80%;

}
.navlink:hover{
  background-color: steelblue;
  border-radius: 10px;
}
.Me{
  background-color: rgb(38, 84, 145);
  display: flex;
  width: 80%;
  margin-left:auto;
  margin-right: auto;
  margin-top:5%;
  border-radius: 10px;
}
.MyAbstract{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
  font-size: 110%;
  text-align: left;
  
  
}
.LinkedinLogo{
  padding-left:2%;
  padding-right:2%;
  padding-bottom: 2%;
}
.GitLogo{
  padding-left:2%;
  padding-right:2%;
  padding-bottom: 2%;
}
.SocialMedia{
  padding:1%;
}

/*Education*/

.Education{
  background-color: rgb(38, 84, 145);
  display: grid;
  width: 80%;
  margin-left:auto;
  margin-right: auto;
  margin-top:5%;
  border-radius: 10px;
  margin-bottom: 2%;
  padding-bottom: 2%;
}

.Education .title{
  margin-left:auto;
  margin-right: auto;
}
.EducacionHr{
  width:80%;
  margin-top:0.5em;
  margin-bottom: 0.5em;
  border-width: 0.1px;
  color:darkgrey;
}
.PicAndImage{
  display: flex;
  
} 
.PicInPicAndImage{
  width: 5em;
  height:5em;
  
}
.eduSection{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  
  background-color: blueviolet;
  
}
.eduTitle{
  background-color: green;
  vertical-align: top;
  margin-top:0px;
}