@font-face{
  font-family: 'Roboto-Regular';
  src:local('Roboto-Regular'),url(./fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
body{
  /* background-image: url(./night-sky.jpg); */
  background-color: rgb(40, 28, 73);
} 
.App {
  text-align: center;
  /* background-color: rgb(9, 2, 14); */
  /* background-image: linear-gradient(black,rgb(4, 4, 83)); */
  /* background-image: url(./night-sky.jpg); */
  height:100%;
  width:100%;
  position:absolute;
  color:white;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 5px;
}


  .NameandPic{
    margin-left:10%;
    margin-top:5%;
  }
/*.App-header {
  background-color: #282c34; 
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/
.App-link {
  color: #61dafb;
}
.Mynavbar{
  background-color: rgb(93, 105, 209);
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
  min-width: 50%;
  width:auto;
}
.Header{
  font-family: Roboto;
  width:auto;
  margin-right:0;
  margin-left:0;
  padding:0;
  
}
.navlink{
  padding-left:4%;
  padding-right:4%;
  text-decoration: none;
  color:white;
  height:80%;

}
.navlink:hover{
  background-color: steelblue;
  border-radius: 10px;
}
.Me{
  background-color: rgb(38, 84, 145);
  display: flex;
  width: 80%;
  margin-left:auto;
  margin-right: auto;
  margin-top:5%;
  border-radius: 10px;
  margin-bottom:1em;
  padding-top:1em;
  padding-bottom: 1em;

}
.MyAbstract{
  width:50%;
  margin-left:auto;
  margin-right:auto;
  margin-top:5%;
  font-size: 110%;
  text-align: left;
  font-family:
  
}
.LinkedinLogo{
  padding-left:2%;
  padding-right:2%;
  padding-bottom: 2%;
  width: 7em;
  height: 3em;
  margin-top:1%;
}
.GitLogo{
  padding-left:2%;
  padding-right:2%;
  padding-bottom: 2%;
  margin-top:1%;
  width: 7em;
  height: 3em;
}
.SocialMedia{
  padding:1%;
}

/*Education*/

.Education{
  background-color: rgb(38, 84, 145);
  display: grid;
  width: 80%;
  margin-left:auto;
  margin-right: auto;
  margin-top:5%;
  border-radius: 10px;
  /* margin-bottom: 2%; */
  padding-bottom: 2%;
}

.Education .E-title{
  margin-left:auto;
  margin-right: auto;
  margin-top:1em;
}
.EducacionHr{
  width:90%;
  margin-top:0.5em;
  margin-bottom: 0.5em;
  border-width: 0.1px;
  color:darkgrey;
}
.PicAndImage{
  display: flex;
  width: 80%;
  margin:auto;
  padding:1em;
} 
.PicInPicAndImage{
  width: 5em;
  height:6em;
  margin:auto;
  border-radius: 4px;
  
}
.eduSection{
  width:100%;
  display: flex;
  justify-content: space-evenly;
  
  
}
.eduTitle{
  vertical-align: top;
  margin-top:0px;
}
.eduDesc{
  text-align: left;
  padding:1em;
}

/*Portfolio*/
.favProjImg{
  width:30%;
  height:10%;
}
.carousel-caption{
  position:relative;
  left:0;
  top:0;
}
.P-Title{

  
  margin-top:1em;
  padding-top: 1em;
}
.Portfolio{
  background-color: rgb(38, 84, 145);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.title{
  margin:1%;
  padding:1%;
}
.P-Card{
  color:black;
}
@media only screen and (min-width: 771px){
  .P-twoBlock{
    display:flex;
    margin:auto;
    justify-content: center;
    flex-wrap:wrap;
  }
  .P-Card{
    width:33%;
    margin: 3%;
  }
}
@media only screen and (max-width:771px)
{
  .P-Card{
    margin:auto;
    width:55%;
  }
}

.CardButton{
  width:60%;
}